<body>
    <div class="container">
        <form action="/delete" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit">DELETE SIGNATURE</button>
        </form>
    </div>
<body>
