<body>
    <div class="container">
        <section id="">
            <h1>S T A T S</h1>
            <a href="https://insights.stackoverflow.com/survey/2017#demographics" target="_blank"><img src="/gender.png" id="gender"></a>
            <a href="https://insights.stackoverflow.com/survey/2017#developer-profile-gender"></a>
            <div id="stats">
                ■ Among 3 million pull requests examined on GitHub, female-written code saw a 78.6% approval rate. With male-written code, it was 74.6%. If female coders specified their gender on their profiles, though, their acceptance rate fell to 62.5%.
                ■ As for November 2017, the average female programmer made nearly 30% less than her male counterpart.
                ■ Only 17% of computer science degree students are female, according to the UK Higher Education Statistics Agency. In the US, it is 18%.
                ■ Just 27% of people employed in Britain’s digital industries are women, according to the UK Commission for Employment and Skills.
                ■ At Amazon, only 18 of its 120 senior managers are female, and none of those women reports directly to the chief executive, Jeff Bezos.
                ■ Only 30% of Google’s global staff are female. When narrowed by job type and seniority, the gender split is more extreme: only 21% of leadership positions and 17% of technology-specific jobs are held by women, according to Google’s 2014 diversity report.
                ■ The number of female chief technology officers worldwide has remained static for the past 10 years - at 14%, according to a report by Gartner. Women occupied 11.2% of technology leadership roles in Europe, the Middle East and Africa, compared with 18.1% in North America, 13.4% in Latin America and 11.5% in Asia.
            </div>

        </section>
        <section id="howto">
            "Here's the good news. When bias is seen for what it is, it can start to be dispelled.

                Consider, for example, the experience of Harvey Mudd College, an elite science and engineering school in Southern California, which has managed to boost the female share of computer-science majors to 50 percent in the past 15 years.

                How? The school expanded the female faculty and made the curriculum more inviting to talented students with limited exposure to computer science. It assigned classes according to students' past programming experience -- to prevent long-time enthusiasts from intimidating novices. And it told students that STEM careers pay well. (The average starting salary for software engineers from Harvey Mudd is more than $100,000.)

                Policies like these won't make everything right -- but, widely adopted, especially starting in middle school (when girls tend to be most enthusiastic about computer science), they can help to close the gap.

                Technology companies can follow suit -- by recognizing, measuring and counteracting implicit and explicit bias, by genuinely welcoming female interviewees, and by closing the pay gap.

                The technology-consulting company Accenture, aiming to achieve a 50-50 male-female workforce by 2025, has, in India, created a women-only career track for technical architects and, in the U.S., established a rule that new parents -- fathers and mothers alike -- not travel for work for the first year, to get rid of the "mommy track." Salesforce monitors its payroll and adjusts salaries to close the gender gap. (Bloomberg LP has adopted similar approaches, increasing the number of women in engineering by 60 percent over the past three years, albeit from a low base.)"
                <a href="https://www.bloomberg.com/view/articles/2017-09-06/how-to-close-the-gender-gap-in-tech">[Source]</a>
        </section>
    </div>
    <section id="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SngGyakvmJ0?start=902" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </section>
<body>
