<body>
    <div class="container">
        <form action="/delete" method="POST">
        <div>
            <h1>{{title}}</h1>
            <br>
            <img src="{{src}}">
            <a href="/signers">See all {{number}} signers</a>
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button id="sig_btn" type="submit">DELETE SIGNATURE</button>
    </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="canvas.js"></script>
<body>
